<div class="page p-5">
    <div class="d-flex row flex-nowrap justify-content-between align-items-baseline py-5">
        <%= link_to groups_path do %>
            <i class="fas fa-arrow-left text-light arrow-icon"></i>
        <% end %>
        <h5>GROUP DETAILS</h5>
        <i class="fas fa-search search-icon"></i>
    </div>
    <div class="group-details-container  text-center mx-auto">


    <div class=" my-5">
        <%= add_group_icon(@group) %>
        <br>
        <h6 class="my-3"><%= @group.name %></h6>
    </div>
    <table class="table text-light table-striped  table-bordered">
    <tbody>
      <tr>
        <th scope="row">Group ID:</th>
        <td><%= @group.id%></td>
      </tr>
      <tr>
        <th scope="row">Name:</th>
        <td><%= @group.name %></td>
      </tr>
      <tr>
        <th scope="row">Courses total:</th>
        <td><%= @group.courses.count %></td>
      </tr>

      <tr>
        <th scope="row">Author:</th>
        <td><%= @group.user.name %></td>
      </tr>
      <tr>
        <th scope="row">Created at:</th>
        <td><%= @group.created_at.strftime("%d-%m-%Y") %></td>
      </tr>
      <% if (@group.courses.first != nil) %>
    <tr>
      <th scope="row">Group:</th>
      <td><%= @group.courses.first %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
  </div>
  <%= link_to 'ADD NEW COURSE', new_group_course_path(@group), class:'btn btn-success w-100 p-3 border border-light' %>

</div>
