<%= simple_form_for(@course.groups) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="field">
    <div class="control">
      <%= f.input :name, required: true, autofocus: true %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.input :amount, required: true %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.input :group, required: true %>
    </div>
  </div>


  <div class="form-actions my-5 ">
    <%= f.button :submit, class:'btn btn-success w-100' %>
  </div>
<% end %>
