<div class="page p-5">
    <div class="d-flex row flex-nowrap justify-content-between align-items-baseline py-5">
        <%= link_to courses_path do %>
            <i class="fas fa-arrow-left text-light arrow-icon"></i>
        <% end %>
        <h5>COURSE DETAILS</h5>
        <i class="fas fa-search search-icon"></i>
    </div>
    <div class="course-details-container  text-center mx-auto">


    <div class=" my-5">
        <%= add_course_icon(@course) %>
        <br>
        <h6 class="my-3"><%= @course.name %></h6>
    </div>
    <table class="table text-light table-striped  table-bordered">
    <tbody>
      <tr>
        <th scope="row">Course ID:</th>
        <td><%= @course.id%></td>
      </tr>
      <tr>
        <th scope="row">Name:</th>
        <td><%= @course.name %></td>
      </tr>
      <tr>
        <th scope="row">Credit hours: </th>
        <td><%= @course.amount %></td>

      </tr>
      <tr>
        <th scope="row">Author:</th>
        <td><%= @course.user.name %></td>
      </tr>
      <tr>
        <th scope="row">Created at:</th>
        <td><%= @course.created_at.strftime("%d-%m-%Y") %></td>
      </tr>
        <% if (@course.group != nil) %>
      <tr>
        <th scope="row">Group:</th>
        <td><%= @course.group.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>

</div>
